header {
  background: linear-gradient($blue, transparent 70%),
  linear-gradient(0deg, lighten($blue, 10%), transparent 90%),
  #ffa949 url('../../img/hero-image-mobile.jpg') no-repeat center;
  background-size: cover;
  color: white;
  min-height: 380px;
  padding-top: 30px;
  position: relative;
}

.header-wrapper {
  margin: 0 auto;
  width: 90%;

  h1 {
    padding: {
      bottom: 20px;
    }
  }

  p {
    line-height: 30px;

    @media screen and (min-width: $tablet) {
      width: 60%;
    }
  }
}

.nav-class {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  width: 100%;

  li {
    display: inline-block;
    padding: 5px 15px;
  }

  @media screen and (min-width: $tablet) {
    text-align: right;
  }
}

.arrow-down-container {
  bottom: 0;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  position: absolute;
  text-align: left;
  width: 90%;

  .arrow-down {
    transform: rotate(180deg);
    width: 30px;
  }
}
